In [43]:
from ipywidgets import interact, interactive, fixed
import ipywidgets as widgets
from IPython.display import display

In [44]:
import seaborn as sns

In [45]:
car_crashes = sns.load_dataset("car_crashes")

In [46]:
car_crashes.head(10)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA
5,13.6,5.032,3.808,10.744,12.920,835.50,139.91,CO
6,10.8,4.968,3.888,9.396,8.856,1068.73,167.02,CT
7,16.2,6.156,4.860,14.094,16.038,1137.87,151.48,DE
8,5.9,2.006,1.593,5.900,5.900,1273.89,136.05,DC
9,17.9,3.759,5.191,16.468,16.826,1160.13,144.18,FL

In [47]:
ALL = "ALL"
def unique_sorted_values_plus_ALL(array):
    unique = array.unique().tolist()
    unique.sort()
    unique.insert(0, ALL)
    return unique

In [52]:
dropdown_abbrev = widgets.Dropdown(options = unique_sorted_values_plus_ALL(car_crashes.abbrev))

In [53]:
ALL = "ALL"
def dropdown_abbrev_handler(change):
    if (change.new == ALL):
        display(car_crashes)
    else:
        display(car_crashes[car_crashes.abbrev == change.new])

In [58]:
dropdown_abbrev.observe(dropdown_abbrev_handler, names = "value")

In [59]:
display(dropdown_abbrev)

Dropdown(options=('ALL', 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DC', 'DE', 'FL', 'GA', 'HI', 'IA', 'ID', 'â€¦